body 
{
    background-image: url("../images/background3.jpg");
    background-repeat: space;
    margin: auto;
    width: 750px;
    height: 1px;
    padding: 10px 10px 250px 10px;
    font: georgia, serif;
    text-align:center;
}

h1 
{
    font-size: 40px;
}

#loginDiv
{
	font-size: 30px;
	background-color: white;
	box-shadow: 3px 6px;
}

#loggedInDiv
{
	font-size: 30px;
	background-color: white;
	box-shadow: 3px 6px;
}

#accessUIDiv
{
	font-size: 30px;
	background-color: white;
	box-shadow: 3px 6px;
}

#usersPage
{
	font: georgia, serif;
	font-size: 30px;
	background-color: white;
	box-shadow: 3px 6px;
}
#addPage
{
	font: georgia, serif;
	font-size: 30px;
	background-color: white;
	box-shadow: 3px 6px;
}
#contactPage
{
	font: georgia, serif;
	font-size: 30px;
	background-color: white;
	box-shadow: 3px 6px;
}
#createAccountPage
{
	font: georgia, serif;
	font-size: 30px;
	background-color: white;
	box-shadow: 3px 6px;
}
#deletePage
{
	font: georgia, serif;
	font-size: 30px;
	background-color: white;
	box-shadow: 3px 6px;
}
.buttons1
{
	font: georgia, serif;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.buttons2
{
	font: georgia, serif;
	background-color: green; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.buttons3
{
	font: georgia, serif;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 8px 8px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.buttons
{
	font: georgia, serif;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#firstNameUsers
{
	font-size: 30px;
}
#lastNameUsers
{
	font-size: 30px;
}
#usernameUsers
{
	font-size: 30px;
}
#passwordUsers
{
	font-size: 30px;
}
#number
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

